:root {
        /* --light mode vars-- */
    --light-dino-div-border: 2px solid black;
        /* --dark mode vars-- */
    --dark-dino-div-border: 2px solid #fec2356c;
 } 

/* --- Component Selectors -------------------------------------------------- */



#blog-section {
    flex: 1;
    padding: 15px;
    height: auto;
}

#blog-section h4, h5, h6 {
    margin: 0;
}

.dino-div {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 15px;
}

.dino-div h4 {
    text-decoration: underline;
}

/* --- Theme Switching Selectors ------------------------------------ */

.light .dino-div {
    border: var(--light-dino-div-border);
}

.dark .dino-div {
    border: var(--dark-dino-div-border);
}