:root {
    /* --test-outline: 2px solid blue; */
}

body {
    font-family: Papyrus, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

header {
    position: relative;
    width: 100%;
    outline: var(--test-outline);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    outline: var(--test-outline);
    text-align: center;
    flex: 1 1 500px;
}

header a {
    outline: var(--test-outline);
    position: absolute;
    left: 10px
}

main {
    display: flex;
}

main section{
    /* width: 50%; */
    flex: 1 1;
    outline: var(--test-outline);
    height: 500px;
    box-sizing: border-box;
    display: flex;
}

#img-section {
    padding: 10px;
}

#img-section img {
    width: 100%;
}
