:root {
    --test-outline: 2px solid blue;

    /* --light mode vars-- */
    --light-text-color: black;
    --light-bg-color: #ffff66;
    --light-header-bg: linear-gradient(#93ff93, #ffff66) ;
    --light-footer-bg: linear-gradient(#ffff66, #93ff93);
    --light-border: 2px solid black;
    --light-border-alt: 2px solid green;

    /* --dark mode vars-- */
    --dark-text-color: #FEC135;
    --dark-bg-color: #240002;
    --dark-header-bg: linear-gradient(#A53005, #6F0100);
    --dark-footer-bg: #240002;
    --dark-main-bg: linear-gradient(#6F0100, #240002);
    --dark-border: 2px solid #240002;
  
}

* {
    /* outline: var(--test-outline); */
}

body {
    font-family: Papyrus, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: var(--light-bg-color);
}

#container {
    display: flex;
    flex-direction: column;
    transition-property: background-color, color, border, background-image;
    transition-duration: .35s;
    transition-timing-function: ease-in;
    
}

/* --- Element Selectors ----------------------------------------- */

header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid green;
    min-height: 12dvh;
    max-height: 14dvh;
}

header h1 {
    flex: 1 1 500px;
    margin: 15px;
}

header a:link, a:visited {
    transition: .35s;
    transition-timing-function: ease-out;
}

main {
    min-height: 70dvh;
    display: flex;
    height: auto;
}

main section{
    box-sizing: border-box;
}

footer {
    width: 100%;
    /* height: 100px; */
    min-height: 16dvh;
}

/* --- Component Seclectors --------------------------------- */

#light-dark-mode-switch {
    position: absolute;
    right: 20px;
    border-radius: 100%;
    transition: .35s ease-out;
}

#light-dark-mode-switch:hover {
    cursor: pointer;
}

#img-section {
    padding: 10px;
    flex: 1 1;
}

#form-section {
    flex: 1.5 1;
}

#back-link {
    margin-left: 15px;
    position: absolute;
    left: 0px
 }

#img-section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* --- Theme Switching Selectors ------------------------------------ */

/* ---Light Mode--- */
.light {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    font-weight: bold;
}

.light header {
    background-image: var(--light-header-bg);
    border-bottom: var(--light-border);
}

.light img {
    border: var(--light-border);
}

.light footer {
    background-image: var(--light-footer-bg);
}

.light header #back-link:hover {
    box-shadow: 0 0 18px 3px green;
    background-color: var(--light-bg-color);
}

.light header #back-link, #back-link:visited {
    background-image: linear-gradient(#00d800, #005500 );
    border-radius: 10px;
    padding: 0 10px;
    color: var(--light-bg-color);
}

.light #light-dark-mode-switch:hover {
    box-shadow:inset 0 0 16px  orange, 0 0 28px 5px orange;
}

.light input[type="submit"]:hover {
    box-shadow: 0 0 15px  green;
}

/* ---Dark Mode---  */

.dark {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.dark header {
    background-image: var(--dark-header-bg);
    border-bottom: var(--dark-border);
}

.dark img {
    border: var(--dark-border);
}

.dark main {
    background-image: var(--dark-main-bg);
}

.dark footer {
    background-image: var(--dark-footer-bg);
}

.dark #back-link, #back-link:visited {
    background-image: var(--dark-main-bg);
    border-radius: 10px;
    padding: 0 10px;
    color: var(--dark-text-color);
}

.dark header #back-link:hover {
    box-shadow: 0 0 20px 5px var(--dark-text-color);
    color: #ffd779;
}

.dark #light-dark-mode-switch:hover {
    box-shadow:inset 0 0 16px  var(--dark-text-color), 0 0 28px 5px var(--dark-text-color);
}

.dark input[type="submit"]:hover {
    box-shadow: 0 0 15px 3px var(--dark-input-border-color);
}

/* ---Responsive Layout------------------------------------------- */

@media (max-width: 1024px) {
    #form-section {
        flex: 2 1;
    }
}

@media (max-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 10px;
    }

    header {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    #form-section h2 {
        margin-top: 0px;
    }

    .light #light-dark-mode-switch:hover {
        box-shadow:none;
    }

    .dark #light-dark-mode-switch:hover {
        box-shadow:none;
    }

    .light input[type="submit"]:hover {
        box-shadow: none;
    }

    .dark input[type="submit"]:hover {
        box-shadow: none;
    }
}

@media (max-width: 458px) {
    #back-link {
        margin-left: 15px;
        position: static;
     }

     #light-dark-mode-switch {
        position: static;
    }

    header h1 {
        margin-bottom: 5px;
    }

    header {
        min-height: initial;
        max-height: initial;
        height: auto;
    }
}